.item {
    background-color: var(--dxp-g-neutral, #f3f2f2);
    border-radius: var(--dxp-s-form-border-radius, 0.5rem);
}

.line-name {
    height: var(--dxp-s-text-heading-small-font-size, 1.125rem);
}

.line-address {
    height: var(--dxp-s-body-font-size, 1rem);
}