svg {
    fill: var(--com-c-unified-cart-badge-link-color, var(--dxp-s-link-text-color));
}

svg:hover, svg:focus {
    fill: var(--com-c-unified-cart-badge-link-color-hover, var(--dxp-s-link-text-color-hover));
}

/**
 * In order to stay consistent with the badge colors used in other page header
 * elements (e.g. the notification bell icon), this overrides the badge background
 * color set by the class .slds-notification-badge.
 */
.slds-notification-badge {
    background: var(--lwc-colorBackgroundNotificationBadge, rgb(234, 0, 30));
}

/**
 * The SLDS slds-show-notification style applies an animation we don't want.
 * Consequently, we do the one thing we would otherwise need that CSS class
 * to do by making the element consistently opaque.
 */
.show-notification {
    opacity: 1;
}
