# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source

# Code Owners
*       forcedotcom/commerce-on-lightning-components-admin
