.buttons {
    margin-bottom: var(--dxp-g-spacing-medium);
}

.buttons-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--lwc-spacingVerticalXxSmall, 0.25rem);
    column-gap: var(--lwc-spacingXxSmall, 0.25rem);
}

.buttons-flex .slds-button + .slds-button {
    margin-left: 0;
}
