:host {
	 background-color: var(--dxp-g-root-3, #858585);
	 position: relative;
	 display: block;
}
 :host:last-child {
	 background-color: transparent;
}
 .slds-accordion__section {
	 padding: 0 0 0.0625rem 0;
	 margin: 0 -0.75rem 0 -0.75rem;
}
 .slds-accordion__section .slds-accordion__summary {
	 margin: 0;
	 padding: var(--dxp-g-spacing-small);
}
 .slds-accordion__section .slds-accordion__summary h2 {
	 line-height: var(--dxp-g-spacing-xlarge);
}
 .slds-accordion__section .slds-accordion__content {
	 display: none;
	 background-color: var(--sds-c-accordion-summary-color-background, var(--dxp-g-root, transparent));
	 margin: 0;
	 padding: var(--dxp-g-spacing-small);
}
 .slds-accordion__section .slds-accordion__content .next {
	 padding: var(--dxp-g-spacing-medium) 0;
	 width: fit-content;
}
 .slds-accordion__section .slds-accordion__content .next lightning-button {
	 position: relative;
	 display: block;
}
 .slds-accordion__section.slds-is-open .slds-accordion__content {
	 display: block;
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/
@media only screen and (max-width: 47.9375em) {
	.slds-button_brand {
		width: 100%;
	}
	.slds-accordion__section .slds-accordion__content .next {
		width: 100%;
   }
}