/*
    Styling Hook CSS Custom Properties

    Totals Card:
        --com-c-order-totals-background-color - the background color of the totals card
        --com-c-order-totals-text-color - the text color of the totals card
        --com-c-order-totals-border-color - the border color of the totals card
        --com-c-order-totals-border-radius - the border radius of the totals card
*/

.field-item {
    flex: auto;
    font-size: var(--dxp-g-font-size-3);
}

.spinner-container {
    width: 5rem;
    height: 5rem;
}

.totals-card {
    background-color: var(--com-c-order-totals-background-color, var(--dxp-g-root));
    color: var(--com-c-order-totals-text-color, var(--dxp-g-root-contrast));
    border-color: var(--com-c-order-totals-border-color, var(--dxp-s-form-element-color-border));
    border-radius: var(--com-c-order-totals-border-radius, 0px);
    word-break: break-word;
}
