/*
    Styling Hook CSS Custom Properties
    Icon Color:
        --com-c-checkout-order-confirmation-icon-color - the icon background color for the order confirmation icon
*/

/* Make the font weight for header text Bold */
.header-text {
    font-weight: var(--dxp-s-text-heading-large-font-weight);
    font-size: var(--dxp-s-text-heading-large-font-size);
}

.order-confirmation-icon {
    --slds-c-icon-color-background: var(--com-c-checkout-order-confirmation-icon-color, #2e844a);
}

.order-confirmation-number {
    font-weight: var(--dxp-s-text-heading-small-font-weight);
    font-size: var(--dxp-s-text-heading-small-font-size);
}

.my-brand {
    background-color: var(--dxp-g-brand);
    color: var(--dxp-g-brand-contrast);
}

.my-brand:hover {
    background-color: var(--dxp-g-brand-1);
}
