:host {
    display: block;
    color: var(--com-c-commerce-my-account-account-switcher-list-record-text-color, #444);
}

a.account-switcher-list-record {
    display: block;
    text-decoration: none;

    &:link {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: var(--com-c-commerce-my-account-account-switcher-list-record-background-hover-color, #f3f2f2);
    }
    &.selected {
        cursor: default;
    }
}
.account-switcher-list-record__title {
    font-weight: var(--com-c-commerce-my-account-account-switcher-list-record-font-weight-bold, 700);
}
.account-switcher-list-record__icon {
    background-color: var(--com-c-commerce-my-account-account-switcher-list-record-icon-color, #444);
}
