.header{
    --com-c-commerce-header-border-bottom:var(--com-c-commerce-my-account-header-border-bottom,2px solid var(--dxp-g-neutral));
}
.navigation {
    width: 25%;
}
.content {
    flex: 1 0 auto;
    background-color: var(--com-c-commerce-my-account-content-bg-color, #fafaf9);
    padding-top: var(--com-c-commerce-my-account-content-padding-top_wide, var(--dxp-g-spacing-large));
    padding-left: var(--com-c-commerce-my-account-content-padding-left_wide, var(--dxp-g-spacing-xlarge));
    padding-right: var(--com-c-commerce-my-account-content-padding-right_wide, var(--dxp-g-spacing-xlarge));
    max-width: 75%;
}
@media only screen and (max-width: 47.9375em) {
    div.slds-grid{
        flex-direction: column;
    }
    .navigation {
        width: 100%;
    }
    .content {
        padding-top: var(--com-c-commerce-my-account-content-padding-top_narrow, var(--dxp-g-spacing-small));
        padding-left: var(--com-c-commerce-my-account-content-padding-left_narrow, var(--dxp-g-spacing-small));
        padding-right: var(--com-c-commerce-my-account-content-padding-right_narrow, var(--dxp-g-spacing-small));
        max-width: 100%;
    }
}
