:host {
    text-align: center;
    padding: 0 1rem;
  }
  
  .step {
    display: block;
    margin: 0;
    padding: 0;
    width: 150px;
  }
  
  .slds-tabs--default__item:after,
  .slds-tabs--default__item:after,
  .slds-tabs_default__item:after,
  .slds-tabs_default__item:after {
    background: none;
    height: 0;
  }
  
  .slds-progress__item {
    display: block;
  }
  
  .slds-progress-bar {
    position: relative;
    display: block;
    top: -0.75rem;
    left: calc(50% + .48rem);
    margin: 0;
  }
  