:host {
    display: block;
}
.slds-form-element:not(:last-child) {
    margin-bottom: var(--dxp-g-spacing-xxsmall);
}
@media only screen and (min-width: 48.0625em) {
    :host {
        max-width: 300px;
        min-width: 150px;
    }
}
