:host {
    display: block;
    color: var(--dxp-g-root-contrast, #111111);
}

.applied-coupon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: var(--dxp-g-font-size-5);
}

.applied-coupon dt {
    display: flex;
}

.applied-coupon dt span {
    font-size: var(--com-c-cart-applied-coupons-font-size, var(--dxp-g-font-size-5));
    color: var(--com-c-cart-applied-coupons-font-color, var(--dxp-g-root-contrast));
}
