:host, .product-set-item__actions {
    display: flex;
    flex-direction: row;
}

.product-set-item__actions {
    justify-content: end;
    align-items: baseline;
}

.product-set-item__contents, .product-set-item__description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-set-item__image {
    max-width: 80px;
    max-height: 80px;
}
