.slds-assistive-text + .original-price {
    text-decoration: line-through;
}
.price-container {
    width: auto;
    line-height: 2rem;
}
.price-col {
    vertical-align: baseline;
}
.price-col-section {
    font-weight: var(--dxp-s-body-font-weight, 300);
}
.price-label:first-child {
    font-weight: var(--ref-c-product-pricing-price-label-font-weight, var(--dxp-c-strong-text-weight, 700));
}
.negotiated-price {
    color: var(
        --ref-c-product-pricing-negotiated-price-label-color,
        var(--com-c-product-details-negotiated-price-label-color)
    );
    font-size: var(
        --ref-c-product-pricing-negotiated-price-label-size,
        var(--com-c-product-details-negotiated-price-label-size)
    );
}
.tax-info-label {
    color: var(--ref-c-product-pricing-tax-info-label-color, var(--com-c-product-details-tax-info-label-color));
    font-size: var(--ref-c-product-pricing-tax-info-label-size, var(--com-c-product-details-tax-info-label-size));
}
.original-price {
    color: var(
        --ref-c-product-pricing-original-price-label-color,
        var(--com-c-product-details-original-price-label-color)
    );
    font-size: var(
        --ref-c-product-pricing-original-price-label-size,
        var(--com-c-product-details-original-price-label-size)
    );
}
@media only screen and (max-width: 48em) {
    .price-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .price-col-section:first-child {
        text-align: right;
    }
    .price-unavailable {
        text-align: center;
    }
    .tax-container {
        text-align: center;
    }
}
