:host {
    --slds-c-form-row-spacing-block-end: var(--dxp-g-spacing-medium, 1rem);
    --dxp-s-form-element-label-font-size: var(--com-c-my-account-address-form-element-label-font-size, 0.75rem);
    div {
        h2 {
            padding-bottom: var(--dxp-g-spacing-medium);
            font-weight: var(--dxp-c-strong-text-weight);
            text-align: center;
            font-size: var(--dxp-g-font-size-6);
        }
        div {
            width: var(--com-c-my-account-input-address-form-width, 50%);
            .name-fields {
                display: inline-flex;
                vertical-align: text-top;
                width: 100%;
            }

            .name-field:nth-child(1) {
                padding-right: var(--dxp-g-spacing-xxsmall);
            }

            .name-field:nth-child(2) {
                padding-left: var(--dxp-g-spacing-xxsmall);
            }
        }
    }
    .address-type {
        --slds-c-input-color-border: var(--dxp-s-form-element-color-border, var(--dxp-g-neutral-3));
    }
    .address-form-align {
        margin: auto;
    }
}

@media only screen and (max-width: 48em) {
    :host {
        div {
            h2 {
                padding-bottom: var(--dxp-g-spacing-medium);
                font-weight: var(--dxp-c-strong-text-weight);
                text-align: center;
            }
            div {
                width: 100%;
                .name-fields {
                    display: block;
                }
                .name-fields [lightning-input_input-host] {
                    width: 100%;
                }
                .name-field:nth-child(1) {
                    padding-right: 0;
                }

                .name-field:nth-child(2) {
                    padding-left: 0;
                }
            }
        }
        .address-type {
            --slds-c-input-color-border: var(--dxp-s-form-element-color-border, var(--dxp-g-neutral-3));
        }
    }
}
