/** Strikethrough applies when both list price and the strikethrough assistive text are present.
BOTH ARE REQUIRED OR THERE IS A STRIKETHROUGH WHEN ONLY LIST PRICE IS SHOWN*/
.slds-assistive-text + .original-price {
    text-decoration: line-through;
}

table {
    width: auto;
}

tr {
    vertical-align: baseline;
}

td {
    font-weight: var(--lwc-fontWeightLight, 300);
}

.price-label:first-child {
    font-weight: var(--lwc-fontWeightBold, 700);
}

.negotiated-price {
    color: var(--com-c-product-details-negotiated-price-label-color);
    font-size: var(--com-c-product-details-negotiated-price-label-size);
}

.tax-info-label {
    color: var(--com-c-product-details-tax-info-label-color);
    font-size: var(--com-c-product-details-tax-info-label-size);
}

.original-price {
    color: var(--com-c-product-details-original-price-label-color);
    font-size: var(--com-c-product-details-original-price-label-size);
}

/* Narrow screens (e.g. phones) */
@media only screen and (max-width: 48em) {
    /* SLDS token: mqMedium */
    table {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    td:first-child {
        text-align: right;
    }

    .price-unavailable {
        text-align: center;
    }

    .tax-container {
        text-align: center;
    }
}
