.filter-text {
    font-size: var(--dxp-s-text-heading-small-font-size);
}

@media only screen and (max-width: 64rem) {
    .button-padding {
        padding-block-end: var(--dxp-c-section-content-spacing-block-end, 1.5rem);
    }
}

@media only screen and (min-width: 64rem) {
    .button-padding {
        padding-block-start: var(--dxp-c-section-content-spacing-block-start, 1.5rem);
    }
}
