/**
* Styling Hook CSS Custom Properties
*
* .apply-coupon-button
*    Background Color:
*        --com-c-cart-apply-coupon-button-background-color - The background color of the apply coupon button, specified as a valid CSS color representation.
*
*    Background Color Hover:
*        --com-c-cart-apply-coupon-button-background-hover-color - The background color of the apply coupon button when the user hovers over it, specified as a valid CSS color representation.
*
*    Text Color:
*        --com-c-cart-apply-coupon-button-text-color - The color of the apply coupon button text, specified as a valid CSS color representation.
*
*    Text Color Hover:
*        --com-c-cart-apply-coupon-button-text-hover-color - The color of the apply coupon button text when the user hovers over it, specified as a valid CSS color representation.
*
*    Border Color:
*        --com-c-cart-apply-coupon-button-border-color - The color of the apply coupon button text, specified as a valid CSS color representation.
*
*    Border Radius:
*        --com-c-cart-apply-coupon-button-border-radius - The radius of the apply coupon button corner border, specified as a CSS length.
**/

:host {
    display: flex;
}

button {
    border-style: solid;
    flex-grow: 1;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--com-c-cart-apply-coupon-button-background-color, var(--dxp-g-brand));
    color: var(--com-c-cart-apply-coupon-button-text-color, var(--dxp-g-brand-contrast));
    border-color: var(--com-c-cart-apply-coupon-button-border-color, var(--dxp-g-brand));
    border-radius: var(--com-c-cart-apply-coupon-button-border-radius, 4px);
}

button:hover:enabled {
    background-color: var(--com-c-cart-apply-coupon-button-background-hover-color, var(--dxp-g-brand-1));
    color: var(--com-c-cart-apply-coupon-button-text-hover-color, var(--dxp-g-brand-contrast-1));
}
