:host {
    .action-buttons {
        $alignments: left, center, right;
        @each $alignment in $alignments {
            &_#{$alignment} {
                text-align: $alignment;
            }
        }
        $sizes: small, medium, large;
        @each $size in $sizes {
            &_#{$size} .slds-button + .slds-button {
                margin-left: var(--dxp-g-spacing-#{$size});
            }
        }
    }
    .action_truncate {
        max-width: 40%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .label-bold {
        font-weight: bold;
    }

    .label-italic {
        font-style: italic;
    }

    .label-underline {
        text-decoration: underline;
    }
}
