:host {
    display: contents;
}
button {
    color: var(--com-c-cart-checkout-button-text-color, var(--dxp-s-button-color-contrast));
    border-radius: var(--com-c-cart-checkout-button-border-radius, var(--dxp-s-button-radius-border));
    background-color: var(--com-c-cart-checkout-button-background-color, var(--dxp-s-button-color));
    border-color: var(--com-c-cart-checkout-button-border-color, var(--dxp-s-button-color));
}

button.slds-button_brand {
    color: var(--com-c-cart-checkout-button-text-color, var(--dxp-s-button-color-contrast));
    border-color: var(--com-c-cart-checkout-button-border-color, var(--dxp-s-button-color));
    background-color: var(--com-c-cart-checkout-button-background-color, var(--dxp-s-button-color));
}

button.slds-button_outline-brand {
    color: var(--com-c-cart-checkout-button-text-color, var(--dxp-s-button-color-contrast));
    border-color: var(--com-c-cart-checkout-button-border-color, var(--dxp-s-button-color));
    background-color: var(--com-c-cart-checkout-button-background-color, var(--dxp-g-root));
}

button.slds_button-tertiary {
    color: var(--com-c-cart-checkout-button-text-color, var(--dxp-s-button-color-contrast));
    border-color: var(--com-c-cart-checkout-button-border-color, var(--dxp-g-root));
    background-color: var(--com-c-cart-checkout-button-background-color, var(--dxp-g-root));
}

button.slds-button.dxp-button-small, button.slds-button.dxp-button-large {
    border-radius: var(--com-c-cart-checkout-button-border-radius, var(--dxp-s-button-radius-border));
}

button:hover:enabled {
    background-color: var(--com-c-cart-checkout-button-background-hover-color, var(--dxp-s-button-color-1));
    color: var(--com-c-cart-checkout-button-text-hover-color, var(--dxp-s-button-color-hover-contrast));
}
