.column-layout {
    flex-direction: column;
}
.one-column-layout {
    width: 100%;
}
.two-column-layout {
    width: 50%;
}
.three-column-layout {
    width: 33%;
}
.four-column-layout {
    width: 25%;
}
:host:focus {
    outline: auto;
}
.bold-name{
    font-weight: var(--dxp-c-strong-text-weight);
}