.variant-message {
    font-weight: var(--dxp-s-typography-font-weight-bold, bold);
}

.variants-list {
    display: flex;
    flex-direction: column;
    gap: var(--dxp-g-spacing-xsmall, 0.5rem);
}

.variant-options {
    display: flex;
    flex-wrap: wrap;
}

.variant-button {
    --ref-c-common-button-color: var(--dxp-g-neutral-contrast-1);
    background: var(--dxp-g-root, #fff);
    border: 1px solid var(--dxp-g-neutral-1, #e2e2e2);
    border-radius: var(--dxp-s-button-radius-border, 4px);
    width: auto;
    height: 40px;
    cursor: pointer;
    font-size: var(--dxp-s-typography-font-size-2, 14px);
    transition: var(--dxp-c-button-neutral-transition, all 0.2s ease);
    padding: var(--dxp-g-spacing-small, 8px) var(--dxp-g-spacing-medium, 16px);
    color: var(--dxp-g-default, black);
    margin: var(--dxp-g-spacing-xxsmall, 0.25rem);
}

.variant-button:hover {
    border-color: var(--dxp-g-neutral-3, #666);
}

.variant-button.selected {
    background: var(--dxp-g-neutral-contrast-3, #f3f3f3);
    border-color: var(--dxp-g-brand-3, #333333);
    font-weight: var(--dxp-s-typography-font-weight-bold, bold);
}
