.address-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    grid-auto-rows: minmax(max-content, 1fr);
}

.address-grid-gap-small {
    grid-gap: var(--dxp-g-spacing-small);
    padding: var(--dxp-g-spacing-small);
}

.address-grid-gap-medium {
    grid-gap: var(--dxp-g-spacing-medium);
    padding: var(--dxp-g-spacing-medium);
}

.address-grid-gap-large {
    grid-gap: var(--dxp-g-spacing-large);
    padding: var(--dxp-g-spacing-large);
}
.buttons {
    display: flex;
    max-width: 75em;
}
.show-more-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}
.show-more-button_left {
    margin: auto auto auto 0;
}
.show-more-button_center {
    margin: auto;
}
.show-more-button_right {
    margin: auto 0 auto auto;
}

.emptyState {
    padding-top: calc(5 * var(--lwc-spacingXLarge, 2rem));
    padding-bottom: calc(5 * var(--lwc-spacingXLarge, 2rem));
}
.emptyStateTitle {
    font-size: var(--lwc-fontSize8, 1.5rem);
}

@media only screen and (max-width: 48em) {
    .address-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(max-content, 1fr);
    }

    .address-grid-gap-small {
        grid-gap: var(--dxp-g-spacing-small);
        padding: var(--dxp-g-spacing-small);
    }

    .address-grid-gap-medium {
        grid-gap: var(--dxp-g-spacing-medium);
        padding: var(--dxp-g-spacing-medium);
    }

    .address-grid-gap-large {
        grid-gap: var(--dxp-g-spacing-large);
        padding: var(--dxp-g-spacing-large);
    }
    .buttons {
        display: flex;
        max-width: 47.9375em;
        padding: var(--dxp-g-spacing-small);
    }
    .show-more-button_left {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .show-more-button_center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .show-more-button_right {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
}
