:host{
    display: flex;
    flex-direction: column;
    align-items: center;

    --slds-c-button-spacing-block-start: var(--dxp-g-spacing-xsmall);
    --slds-c-button-spacing-block-end: var(--dxp-g-spacing-xsmall);
}

.items{
    width: 100%;
}

.show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--dxp-g-spacing-medium) 0;
}

.show-more-button:hover{
    text-decoration: underline;
}