.info-icon {
    margin-top: -3px;
    white-space: normal;
}

.adjustments-amount-text {
    color: var(--com-c-my-account-order-products-details-discount-amount-color, var(--dxp-g-root-contrast));
}

.field-item {
    font-size: var(--dxp-g-font-size-3);
}