:host {
    display: inline-flex;
}

button {
    white-space: normal;

    font-size: var(--com-c-cart-applied-savings-button-font-size, var(--dxp-g-font-size-5));
    padding: var(--com-c-cart-applied-savings-button-padding, var(--dxp-g-spacing-small));
    background-color: var(--com-c-cart-applied-savings-button-background-color, var(--dxp-g-brand));
    border-color: var(--com-c-cart-applied-savings-button-border-color, var(--dxp-g-brand));
    border-radius: var(--com-c-cart-applied-savings-button-border-radius, 0rem);
    color: var(--com-c-cart-applied-savings-button-text-color, var(--dxp-g-brand-contrast));
}

button:hover:enabled {
    background-color: var(--com-c-cart-applied-savings-button-background-hover-color, var(--dxp-g-brand-1));
    color: var(--com-c-cart-applied-savings-button-text-hover-color, var(--dxp-g-brand-contrast-1));
}

button[aria-disabled='true'] {
    cursor: default;
}
