figure {
    height: 100px;
    width: 100px;
}

figure a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img {
    flex: 0 0 auto; /* IE11 sizing quirk that is resolved by flexbox */
    max-height: 100%;
    max-width: 100%;
}

figure + .item-details {
    margin-right: var(--dxp-g-spacing-small, 0.75rem);
    margin-left: var(--dxp-g-spacing-small, 0.75rem);
}

.item-name {
    font-size: var(--dxp-g-font-size-4, 0.875rem);
    line-height: var(--dxp-s-text-heading-small-line-height, 1.25);
}

.variants {
    white-space: normal;
    word-break: break-all;
}

/* Note: currently the dxp text block component doesn't seem to support css custom vars
*/
.text-block{
    --dxp-c-text-block-text-color: var(--com-c-my-account-order-products-total-price-text-color)
}

/* Tablet sized screens or smaller (smaller than the SLDS mqLarge responsive threshold) */
@media only screen and (max-width: 64em) {
    .line-item-properties {
        flex-direction: column;
    }
    .fields-details {
        width: 100%;
    }
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/
@media only screen and (max-width: 47.9375em) {
    figure {
        width: 50px;
        height: 50px;
    }
}
