:host {
    --dxp-c-quantity-selector-input-width: 5.5rem;
    --dxp-c-quantity-selector-input-height: 2.5rem;
}

/* hide the native add/subtract "spinners" */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide the native add/subtract "spinners" */
input[type='number'] {
    -moz-appearance: textfield;
}

input,
button {
    border: none;
    border-radius: 0;
}

input {
    width: var(--dxp-c-quantity-selector-input-width);
    /* subtract border twice to get the correct height*/
    height: calc(var(--dxp-c-quantity-selector-input-height) - 2*var(--dxp-s-form-element-width-border, 1px));
    outline: 0;
    text-align: center;
}

span {
    border: var(--dxp-s-form-element-width-border, 1px) solid var(--dxp-g-neutral-1);
}

span.error {
    border: var(--dxp-s-form-element-width-border, 1px) solid var(--dxp-g-destructive);
}

.number-input__decrement-button {
    border-right: var(--dxp-s-form-element-width-border, 1px) solid var(--dxp-g-neutral-1);
}

.number-input__increment-button {
    border-left: var(--dxp-s-form-element-width-border, 1px) solid var(--dxp-g-neutral-1);
}

.number-input__button-icon {
    --sds-c-icon-color-foreground-default: var(--dxp-g-root-contrast);
}

button[disabled] .number-input__button-icon {
    --sds-c-icon-color-foreground-default: var(--dxp-g-neutral);
}

.number-input__increment-button:focus, .number-input__decrement-button:focus, .number-input__input:focus {
    --slds-c-input-shadow: 0 0 3px var(--dxp-g-neutral-1)
}

label {
    white-space: nowrap
}
