:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--com-c-cart-contents-heading-border-width, var(--dxp-s-form-element-width-border)) var(--com-c-cart-contents-heading-border-color, var(--dxp-s-dropdown-color-border)) solid;
}

.sort-menu {
    display: flex;
    align-items: center;
}

.header-labels{
    display: flex;
    align-items: center;
}

/* Phone screens */
@media only screen and (max-width: 64em) {
    :host {
        align-items: flex-start;
        flex-direction: column;
    }

    .header-labels{
        margin-bottom: var(--dxp-g-spacing-medium);
    }
}

/* Screens larger than phone */
@media only screen and (min-width: 64em) {
    :host {
        padding-bottom: var(--dxp-g-spacing-medium);
    }
}
