/* Needed on desktop to prevent Add to Cart button from filling all available horizontal space. */
.quantity-list-action {
    display: flex;
}

/* Narrow screens (e.g. phones) */
@media only screen and (max-width: 48em) {
    /* SLDS token: mqSmall */

    .quantity-rule {
        margin: auto;
        text-align: center;
    }

    .quantity-list-action {
        flex-direction: column;
    }

    commerce_product_details-add-quantity:not(:last-child) {
        margin-right: 0;
    }
}
