:host {
    --com-c-cart-applied-promotions-background-color: var(--dxp-g-root);
    --com-c-cart-applied-promotions-font-color: var(--dxp-g-root-contrast);
    --com-c-cart-applied-promotions-heading-font-color: var(--dxp-g-root-contrast);
    --com-c-cart-discount-amount-font-color: var(--dxp-g-root-contrast);
    --com-c-cart-applied-promotions-border-color: var(--dxp-s-form-element-color-border);
    --com-c-cart-applied-promotions-font-size: var(--dxp-g-font-size-3);
    --com-c-cart-applied-promotions-heading-font-size: var(--dxp-g-font-size-4);
    --com-c-cart-applied-promotions-font-weight: var(--dxp-s-body-font-weight);
    --com-c-cart-applied-promotions-box-shadow: var(--slds-c-card-shadow,var(--sds-c-card-shadow,0 2px 2px 0 rgba(0,0,0,.1)));
}
