/*
    Styling Hook CSS Custom Properties

    Items:
        --com-c-cart-summary-label-font-size - the font size of each item / "row" (except the total)

        --com-c-cart-summary-discount-amount-text-color - the font color of the promotion label
        --com-c-cart-summary-discount-amount-text-size - the font size of the promotion label

        --com-c-cart-summary-original-text-color: the font color of the original price label
        --com-c-cart-summary-original-text-size: the font size of the original price label

        --com-c-cart-summary-shipping-text-color: the font color of the shipping price label
        --com-c-cart-summary-shipping-text-size: the font size of the shipping price label

        --com-c-cart-summary-subtotal-text-color: the font color of the subtotal price label
        --com-c-cart-summary-subtotal-text-size: the font size of the subtotal price label

        --com-c-cart-summary-tax-text-color: the font color of the tax price label
        --com-c-cart-summary-tax-text-size: the font size of the tax price label

    Total:
        --com-c-cart-summary-total-font-weight - the font weight of the total label and price
        --com-c-cart-summary-total-label-font-size - the font size of the total label
*/
:host {
    --com-c-cart-summary-label-font-size: var(--dxp-s-text-heading-small-font-size);
    --com-c-cart-summary-total-label-font-size: var(--dxp-s-text-heading-medium-font-size);
    --com-c-cart-summary-total-font-weight: var(--dxp-c-strong-text-weight);
}

.original-price {
    text-decoration: line-through;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--com-c-cart-summary-original-text-color);
    font-size: var(--com-c-cart-summary-original-text-size, var(--com-c-cart-summary-label-font-size));
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

commerce-formatted-price {
    font-size: var(--com-c-cart-summary-label-font-size);
    font-weight: var(--lwc-fontWeightLight);
}

.subtotal-price commerce-formatted-price {
    color: var(--com-c-cart-summary-subtotal-text-color);
    font-size: var(--com-c-cart-summary-subtotal-text-size, var(--com-c-cart-summary-label-font-size));
}

.discount-amount commerce-formatted-price {
    color: var(--com-c-cart-summary-discount-amount-text-color);
    font-size: var(--com-c-cart-summary-discount-amount-text-size, var(--com-c-cart-summary-label-font-size));
}

.shipping-price commerce-formatted-price {
    color: var(--com-c-cart-summary-shipping-text-color);
    font-size: var(--com-c-cart-summary-shipping-text-size, var(--com-c-cart-summary-label-font-size));
}

.tax-price commerce-formatted-price {
    color: var(--com-c-cart-summary-tax-text-color);
    font-size: var(--com-c-cart-summary-tax-text-size, var(--com-c-cart-summary-label-font-size));
}

.total-price commerce-formatted-price {
    color: var(--com-c-cart-summary-total-text-color);
    font-size: var(--com-c-cart-summary-total-text-size, --com-c-cart-summary-total-label-font-size);
    font-weight: var(--com-c-cart-summary-total-font-weight);
}
