.field-item {
    font-size: var(--dxp-g-font-size-3);
}

.spinner-container {
    width: 5rem;
    height: 5rem;
}

.details-card {
    background-color: var(--com-c-order-details-display-background-color, var(--dxp-g-root));
    color: var(--com-c-order-details-display-color, var(--dxp-g-root-contrast));
    border-color: var(--com-c-order-details-display-border-color, var(--dxp-s-form-element-color-border));
    border-radius: var(--com-c-order-details-display-border-radius, 0px);
    word-break: break-word;
}
