.shipping-field-item {
    flex: auto;
    white-space: normal;
    word-break: break-word;
    padding-right: var(--dxp-g-spacing-small);
}

/* Tablet sized screens or smaller (smaller than the SLDS mqLarge responsive threshold) */
@media only screen and (max-width: 64em) {
    .field-properties {
        flex-direction: column;
    }
}
